#view
{
    width: 100%;
    
}
#view #tabs
{
    width: 100%;
    
    margin-bottom: 2%;
    
}
#view #tabs ul li
{
    font-size: 15px;
}
#view #tabs #this
{
    display: none;
    
}

#view #images
{
    width: 650px;
    margin: 0 auto;
}
#footer
{
    width: 100%;
}